<link rel="stylesheet" href="/static/css/landing.css">       

      <div class='page-picture'>
        <form action="/login" method="GET">
          <button>Login or Create Account</button>
        </form>
      </div>