.navbar {
  display: flex;
}

.navbar li{
  display: inline-flex;
  text-decoration: none;
  justify-content: flex-end;
  align-content: flex-end;
  
}

.app-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  align-items: center;

}

.movie-list-movie {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* padding: 5px; */
  width: 125px;
  height: 189px;
  /* height: 200px; */
  /* margin: 0px; */
  /* padding: 0px; */
}

.movie-list-movie-image {
  width: 122px;
  height: 100%;
  border: 3px solid green;
  /* height: 50px; */
}