
.detailed-movie { 
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
}

.detailed-movie-poster {
  height: 100%;
  width: auto;
}

.detailed-movie-text { 
  height: 50%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

