
/* .detailed-movie { 
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
} */

.detailed-movie-poster {
  height: 70%;
  width: auto;
  display: flex;
  flex-direction: column;
}

.detailed-movie-poster h1, .detailed-movie-poster p {
  margin-top: 3%;
}

/* .detailed-movie-text { 
  height: 50%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

